<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags for mobile use -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/mobile.css">
    </head>
    <body>
        <header>
            <nav>
                <a href='/home'>Stocks</a>
            </nav>
        </header>
        <main role="main">
            <h1>Welcome to Stocks Exchange!</h1>
            <%= 1 + 1 %>
        </main>
    </body>
</html>